# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Kuake.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Tooty\Desktop\Unreal Projects\Kuake\.idea\.idea.Kuake.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
